@import "compass";
@import "media_queries";

// タブレットの最小横幅
$MinTabletWidth : 600px;

// SP端末の最大縦幅
$MaxMobileHeight : 854px;

// タブレットの標準横幅
$StandardTabletWidth : 1024px;

// テーマ色 #37a4ff
$CorpThemeColor : #37a4ff;

// テーマ色(濃いめ)
$CorpThemeColorDeep : #2391eb;

// テーマ背景色 #0f0f0f
$CorpThemeBackGroundColor : #0f0f0f;

// 基本フォントサイズ
$BaseFontSize : 16px;

// 基本フォント色
$BaseFontColor : white;

body {
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif, 'Segoe UI';
    background-color: $CorpThemeBackGroundColor;
    font-size: $BaseFontSize;
    color: $BaseFontColor;
}

input {
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif, 'Segoe UI';
    font-size: $BaseFontSize;
}

textarea {
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif, 'Segoe UI';
    font-size: $BaseFontSize;
}

ul {
    list-style: none;
}

p {
    background-color: $CorpThemeBackGroundColor;
    max-width: 910px;
    text-align: center;
    margin: 0 auto;
    line-height: $BaseFontSize * 2;
    letter-spacing: 1px;
}

h2 {
    margin: 0px;
}

a {
    color: $BaseFontColor !important;
    text-decoration: none !important;
    -webkit-transition: all .3s;
	transition: all .3s;
}

a:hover {
    color: $CorpThemeColor !important;
}

.header {
    position: fixed;
    top: 0px;
    width: 100%;
    @include mq-custom(0px, $MinTabletWidth - 1px, false, portrait) {
        height: 50px;
    }
    @include mq-custom(0px, $MaxMobileHeight, false, landscape) {
        height: 50px;
    }
    height: 75px;
    z-index: 9999;
    background-color: $CorpThemeBackGroundColor;
    ul {
        z-index: 10;
    }
    li {
        @include mq-custom(0px, $MinTabletWidth - 1px, false, portrait) {
            float: none;
        }
        @include mq-custom(0px, $MaxMobileHeight, false, landscape) {
            float: none;
        }
       float: left;
       font-weight: bold;
       @include mq-custom(0px, $StandardTabletWidth) {
            margin-left: 10px;
        }
        margin-left: 20px;
        a:hover {
            @include mq-custom(0px, $StandardTabletWidth) {
                font-size: 16px;
            }
            font-size: 20px;
        }
    }
}

.menu {
    @include mq-custom(0px, $MinTabletWidth - 1px, false, portrait) {
        display: none;
    }
    @include mq-custom(0px, $MaxMobileHeight, false, landscape) {
        display: none;
    }
    @include mq-custom(0px, $StandardTabletWidth) {
        padding-left: 1%;
    }
    padding-top: 12px;
    width: 40%;
    position: absolute;
}

.title {
    text-align: center;
    @include mq-custom(0px, $MinTabletWidth - 1px, false, portrait) {
        font-size: 38px;
    }
    @include mq-custom(0px, $MaxMobileHeight, false, landscape) {
        font-size: 38px;
    }
    font-size: 56px;
    font-weight: bold;
    width: 100%;
    position: absolute;
}

.social-link-container {
    position: absolute;
    @include mq-custom(0px, $MinTabletWidth - 1px, false, portrait) {
        display: none;
        position: fixed;
        top: 34px;
        right: 5px;
        li {
            line-height: 43px;
            padding-right: 15px;
        }
        background-color: #0f0f0f;
    }
    @include mq-custom(0px, $MaxMobileHeight, false, landscape) {
        display: none;
        position: fixed;
        top: 34px;
        right: 5px;
        li {
            line-height: 43px;
            padding-right: 15px;
        }
        background-color: #0f0f0f;
    }
    right: 70px;
    padding-top: 12px;
}

.sp-menu {
    @include mq-custom(0px, $MinTabletWidth - 1px, false, portrait) {
        display: inherit;
    }
    @include mq-custom(0px, $MaxMobileHeight, false, landscape) {
        display: inherit;
    }
    display: none;
    position: fixed;
    top: 16px;
    right: 10px;
    height: 25px;

    span {
        display: block;
        background-color: #37a4ff;
        width: 22px;
        height: 3px;
        margin-bottom: 5px;
    }
}

.message-container {
    position: relative;
    width: 100%;
    @include mq-custom(0px, $MinTabletWidth - 1px, false, portrait) {
        height: 100px;
    }
    @include mq-custom(0px, $MaxMobileHeight, false, landscape) {
        height: 100px;
    }
    @include mq-custom($MinTabletWidth, $StandardTabletWidth - 1, false, portrait) {
        height: 400px;
    }
    @include mq-custom($MaxMobileHeight + 1px, $StandardTabletWidth - 1, false, landscape) {
        height: 400px;
    }
    height: 534px;
}

.message-video {
    @include mq-custom(0px, $MinTabletWidth - 1px, false, portrait) {
        display: none;
    }
    @include mq-custom(0px, $MaxMobileHeight, false, landscape) {
        display: none;
    }
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    @include mq-custom($MinTabletWidth, $StandardTabletWidth - 1, false, portrait) {
        padding-top: 10px;
    }
    @include mq-custom($MaxMobileHeight + 1px, $StandardTabletWidth - 1, false, landscape) {
        padding-top: 10px;
    }
    padding-top: 75px;
}

.message-mask {
    @include mq-custom(0px, $MinTabletWidth - 1px, false, portrait) {
        display: none;
    }
    @include mq-custom(0px, $MaxMobileHeight, false, landscape) {
        display: none;
    }
    position: absolute;
    z-index: 20;
    opacity:0.5;
    filter: alpha(opacity=50);
    -ms-filter: "alpha( opacity=50 )";
    background-color: $CorpThemeBackGroundColor;
    width: 100%;
    height: 100%;
    @include mq-custom($MinTabletWidth, $StandardTabletWidth - 1, false, portrait) {
        padding-top: 10px;
    }
    @include mq-custom($MaxMobileHeight + 1px, $StandardTabletWidth - 1, false, landscape) {
        padding-top: 10px;
    }
    padding-top: 75px;
}

.message {
    position: absolute;
    z-index: 30;
    width: 100%;
    text-align: center;
    @include mq-custom(0px, $MinTabletWidth - 1px, false, portrait) {
        padding-top: 50px;
    }
    @include mq-custom(0px, $MaxMobileHeight, false, landscape) {
        padding-top: 50px;
    }
    @include mq-custom($MinTabletWidth, $StandardTabletWidth - 1, false, portrait) {
        padding-top: 140px;
    }
    @include mq-custom($MaxMobileHeight + 1px, $StandardTabletWidth - 1, false, landscape) {
        padding-top: 140px;
    }
    padding-top: 250px;
}

.message span {
    color: $CorpThemeColor;
    font-weight: bold;
}

#message-en {
    @include mq-custom(0px, $MinTabletWidth - 1px, false, portrait) {
        font-size: 24px;
    }
    @include mq-custom(0px, $MaxMobileHeight, false, landscape) {
        font-size: 24px;
    }
   font-size: 72px;
}

#message-ja {
    @include mq-custom(0px, $MinTabletWidth - 1px, false, portrait) {
        font-size: 12px;
    }
    @include mq-custom(0px, $MaxMobileHeight, false, landscape) {
        font-size: 12px;
    }
   font-size: 20px;
}

.content-header {
    width: 100%;
    color: $CorpThemeColor;
    background-color: $CorpThemeBackGroundColor;
    text-align: center;
    @include mq-custom(0px, $MinTabletWidth - 1px, false, portrait) {
        font-size: 24px;
        padding-top: 30px;
    }
    @include mq-custom(0px, $MaxMobileHeight, false, landscape) {
        font-size: 24px;
        padding-top: 30px;
    }
    font-size: 60px;
    padding-top: 80px;
}

.content {
    .en {
        @include mq-custom(0px, $MinTabletWidth - 1px, false, portrait) {
            font-size: 13px;
        }
        @include mq-custom(0px, $MaxMobileHeight, false, landscape) {
            font-size: 13px;
        }
    }
    
    .ja {
        @include mq-custom(0px, $MinTabletWidth - 1px, false, portrait) {
            font-size: 12px;
        }
        @include mq-custom(0px, $MaxMobileHeight, false, landscape) {
            font-size: 12px;
        }

    }
}

.clients-container {
    background-color: $CorpThemeBackGroundColor;
    width: 90%;
    margin: 0 auto;
}

.client-item {
    @include mq-custom(0px, $MinTabletWidth - 1px, false, portrait) {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    @include mq-custom(0px, $MaxMobileHeight, false, landscape) {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    text-align: center;
}

.client-item img {
    width: 97%;
}

#contact {
    text-align: center;
}

.corp-logo {
    @include mq-custom(0px, $MinTabletWidth - 1px, false, portrait) {
        padding-top: 3px;
        width: 80px;
    }
    @include mq-custom(0px, $MaxMobileHeight, false, landscape) {
        padding-top: 3px;
        width: 80px;
    }
    width: 140px;
}

.social-logo {
    width: 50px;
    padding-right: 8px;
    padding-left: 8px;
}

#youtube-logo {
    padding-bottom: 5px;
}

.last-content {
    @include mq-custom(0px, $MinTabletWidth - 1px, false, portrait) {
        height: 440px;
    }
    @include mq-custom(0px, $MaxMobileHeight, false, landscape) {
        height: 440px;
    }
    height: 800px;
}

.button {
    @include transition-duration(200ms);
    @include border-radius(0.25em);
    border: 0px;
    background-color: $CorpThemeColor;
    padding: 8px 0px 8px 0px;
    text-align: center;
    width: 290px;
    cursor: pointer;
    color: $BaseFontColor;
}

.button:hover {
    background-color: $CorpThemeColorDeep;
}

.center {
    margin:0 auto;
    text-align: center;
}

#form-container {
    width: 280px;
    label {
        display: block;
        padding-top: 14px;
        padding-bottom: 4px;
    }
    label.required:after {
        content: " *";
        color: $CorpThemeColor;
    }
    .text-input {
        @include border-radius(6px);
        border-color: #aaa;
        border: 1px solid;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 5px;
        padding-left: 5px;
        width: 100%;
    }
    .text-input:focus {
        outline: 0;
        border: 1px solid;
        border-color: $CorpThemeColor;
        box-shadow: 0 0 0 1pt $CorpThemeColor;
    }

    #form-input-container {
        padding-top: 26px;
    }

    #submit-padding {
        padding-top: 26px;
    }
}

.wall {
    background-color: $CorpThemeBackGroundColor;
    color: $BaseFontColor;
    height: 400px;
    overflow-y: scroll;
    border: $CorpThemeColor solid 1px;
    padding-left: 5px;
}

.text-left {
    text-align: left;
}

.loader{
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
  position: fixed;
  top: 38%;
  left: 38%;
  display: none;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: $CorpThemeColor;
}
